//Individual styles
@import "scss/header.scss";
@import "scss/login.scss";

//Tables
@import "scss/objects.scss";
@import "scss/users.scss";

//Adders
@import "scss/addObject.scss";
@import "scss/addUser.scss";

//General styles
*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


