//Individual styles
@import "scss/header.scss";
@import "scss/login.scss";
@import "scss/popup.scss";

//Fitxas
@import "scss/fitxaCompleta.scss";

//Tables
@import "scss/objects.scss";
@import "scss/users.scss";
@import "scss/campsLlista.scss";
@import "scss/exposicions.scss";
@import "scss/addBensExposicions.scss";
@import "scss/bensExposicions.scss";
@import "scss/ubicacions.scss";

//New
@import "scss/createCampsLlista.scss";
@import "scss/createExposicions.scss";

//Create
@import "scss/createObject.scss";
@import "scss/createUser.scss";
@import "scss/indexVocabulary.scss";


//Update


//Delete


//General styles
*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}