@use "vars" as v;
@use "mixins" as mx;

.bensExposicions{
    @include mx.tableStyle;
    p{
        margin-top: 10px;
    }
    h2{
        text-align: center;
        margin-bottom: 20px;
    }
    table{
        width: 900px;
    }
    th{
        width: 100%;
    }
    th:nth-child(1){
        width: 25%;
    }
    th:nth-child(2){
        width: 75%;
    }
}