@import "vars";
@import "mixins";

.exposicions{
    @include tableStyle;
    td{
        padding: 0 50px;
    }
    header + div > div{
        min-width: 30%;
    }
    th{
        width: 40%;
    }
    th + th{
        width: 30%;
    }
    td + td + td + td + td + td{
       display: flex;
       align-items: center; 
    }
   h1{
        text-align: center;
    }
    td:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background-color: #D8D9DA;
    }
}