@use "vars" as v;
@use "mixins" as mx;

.verFichaCompleta{
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            margin-top: 50px;
            margin-bottom: 20px;
        }
        button{
            margin: 25px 20px 50px 20px;
            padding: 0 15px;
            background-color: v.$color1;
            border-radius: 10px;
            border-color: rgb(39, 40, 41, 0.4);
            a{
                color: v.$textoBotones;
                text-decoration: none;
            }
        }
        h1 + div{
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: fit-content;
            height: 400px;
            padding: 15px;
            img{
                height: 300px;
            }
            :first-child p {
                margin-bottom: 15px;
                text-align: center;
            }
            div + div{
                margin-left: 2.5%;
            }
        }
        h1 + div + div{
            width: 60%;
            margin-top: 25px;
            div:not(:last-child) {
                box-shadow: 0 -2px 7px 0  rgba(0, 0, 0, 0.2);
                padding: 10px;
                border-radius: 15px;
                background-color: v.$color1;
                display: flex;
                align-items: center;
                cursor: pointer;
                color: v.$textoBotones;

                &::before {
                    $icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath fill='white' d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/%3E%3C/svg%3E");
                    content: "";
                    left: 0;
                    top: 0;
                    width: 0.65rem;
                    aspect-ratio: 320 / 512;
                    display: inline-block;
                    margin-right: 0.75rem;
                    transform: rotate(0deg);
                    mask-image: $icon;
                    mask-size: 100% 100%;
                    -webkit-mask-image: $icon;
                    -webkit-mask-size: 100% 100%;
                    transition: transform cubic-bezier(0.86, 0, 0.07, 1) 0.5s;
                    background-color: currentColor;
                }
            }div:last-child{
                align-items: center;
                display: flex;
                justify-content: center; 
                background-color: none;
                border-radius: 0%;
            }
            section{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                margin-bottom: 10px;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.5s;
                grid-template-columns: 50% 50%;
                display: grid;
                justify-items: start;
                padding: 0 20px;
                border-radius: 0 0 15px 15px;
                p:first-child{
                    margin-top: 10px;
                }
                p:last-child{
                    margin-bottom: 15px;
                }
            }
            .rotate{
                border-radius: 15px 15px 0 0;
                &::before{
                    transform: rotate(90deg);
                }
            }
            .show{
                max-height: 200px;
            }
        }
    }
}