@import "vars";
header{
    width: 100%;
    height: 80px;
    background-color: $color3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    img{
        margin-left: 2.5%;
        height: 75px;
        margin-left: 15px;
        width: 115px;
    }
    nav{
        margin-left: 15%;
        width: 30%;
        display: flex;
        justify-content: space-between;
        a{
            text-decoration: none;
            color: $colorBlanco;
            font-weight: 700;
        }
        a:hover{
            color: $color2;
        }
    }
    div{
        display: flex;
        color: $colorBlanco;
        align-items: center;
        div{
            display: block;
            :first-child{
                font-size: 20px;
            }
            p + p{
                margin-top: 0;
                font-size: 10px;
            }
        }
        img{
            margin-left: 0;
            height: 30px;
        }
    }
}