@import "vars";
.login{

    background-image: linear-gradient(to right, rgba(97,103,122, 0.80) 50%, rgba(216,217,218, 0.80) 50%), url("../../images/loginBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    body{
        display: flex;
        align-items: center;
        height: 900px;
        font-family: 'Poppins'
    }

    body>div{
        margin: 0 auto;
        width: 950px; 
        height:650px; 
        background-color: $color2;
        border: 2px solid $color4;
        border-radius: 15px;
        box-shadow: 2px 10px 45px rgba(0,0,0, 0.75);
        display: flex;
    }


    body>div>div:first-child{
        width: 50%;
        background-color: $color3;
        border-top-left-radius: 13px;
        border-bottom-left-radius: 13px;
    }
    div+div{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-size: 26px;
        text-align: center;
        margin-bottom: 5%;
    }
    label{
        font-size: 18px;
        color: rgb(39, 40, 41, 0.5);
        margin-top: 5%;
        margin-bottom: 2%;
    }

    input{
        width: 250px;
        height: 35px;
        border-radius: 8px;
        border-color: rgb(39, 40, 41, 0.4);
        padding-left: 8px;
        font-size: 16px;
    }

    input:last-child{
        padding-left: 0;
        margin-top: 5%;
        width: 100px;
        height: 35px;
        align-self: center;
        background-color: $color1;
        color: $color4;
        font-size: 20px;
    }

    img{
        width: 410px;
        height: 280px;
        margin-top: 25%;
    }

    form{
        display: flex;
        flex-direction: column;
    }

    p{
        margin-top: 10px;
        color: red;
    }

}