@use "vars" as v;
@use "mixins" as mx;

.objects{
    @include mx.tableStyle;
    @include mx.imagenPreview;

    button>a{
        text-decoration: none;
        color: v.$color4;
        font-size: 20px;
    }
    button{
        margin-top: 20px;
        color: v.$color1;
        padding: 5px 5px 5px 5px;
        background-color: v.$color1;
    }
    div>div>div:last-of-type{
        justify-content: center;
        text-align: center;
        align-items: center;
        display: flex;
    }
    .scroll{
        max-height: 600px;
        overflow-y: scroll;

        thead {
            position: sticky;
            top: 0px;
        }
    }
}