div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
th, td{
    height: 50px;
    text-align: center;
    font-size: 20px;
    padding: 0 20px;
}
th{
    background-color: #61677A;
    color: white;
}
td{
    background-color: #D8D9DA;
}
