@use "vars" as v;
@use "mixins" as mx;

@mixin container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  padding: 30px;
  width: 100%;
}

.ubicacions {

  button{
    padding: 3px;
    background-color: v.$color1;
    border-radius: 7px;
    border: solid 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition-duration: 0.2s;

    &:hover {
      background-color: v.$color1palHover;
    }
  }

  .main {
    width: 80%;
    margin: 100px auto 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }

  #tree {
    div {
      display: flex;
      justify-content: space-between;
    }
  }

  .tree {
    --spacing: 1.5rem;
    --radius: 10px;
    a {
      color: #369;
      text-decoration:underline;
      cursor: pointer;
    }
    li {
      display: block;
      position: relative;
      padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
    }
    
    ul {
      margin-left: calc(var(--radius) - var(--spacing));
      padding-left: 0;
    }
    
    ul li {
      border-left: 2px solid #369;
    }
    
    ul li:last-child {
      border-color: transparent;
    }
    
    ul li::before {
      content: '';
      display: block;
      position: absolute;
      top: calc(var(--spacing) / -2);
      left: -2px;
      width: calc(var(--spacing) + 2px);
      height: calc(var(--spacing) + 1px);
      border: solid #369;
      border-width: 0 0 2px 2px;
    }
    
    summary {
      display: block;
      cursor: pointer;
    }
    
    summary::marker,
    summary::-webkit-details-marker {
      display: none;
    }
    
    summary:focus {
      outline: none;
    }
    
    summary:focus-visible {
      outline: 1px dotted #000;
    }
    
    li::after,
    summary::before {
      content: '';
      display: block;
      position: absolute;
      top: calc(var(--spacing) / 2 - var(--radius));
      left: calc(var(--spacing) - var(--radius) - 1px);
      width: calc(2 * var(--radius));
      height: calc(2 * var(--radius));
      border-radius: 50%;
      background: #ddd;
    }
    
    summary::before {
      z-index: 1;
      background: #369 url('../../images/expand-collapse.svg') 0 0;
    }
    
    details[open] > summary::before {
      background-position: calc(-2 * var(--radius)) 0;
    }

    .new-element{
      transition: background-color 0.3s ease-out;
    }

    .highlight {
      background-color: #369;
    }

    .fade {
      background-color: transparent;
    }
  }

  #action {
    width: 50%;
    justify-self: center;

    .show {

      @include container;
  
      div {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 5px;
      }
    }
  
    .new , .edit {
      @include container;

      form {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        div{
          display: flex;
          flex-direction: column;

          input{
            border: solid 1px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
          }
        }

        button{
          margin-top: 5px;
          align-self: center;
          width: 100%;
        }
      }
    }
  }

}