@use "vars" as v;
@use "mixins" as mx;

.users{
    @include mx.tableStyle;
    td{
        padding: 0 50px;
    }
    header + div > div{
        min-width: 30%;
    }
    th{
        width: 40%;
    }
    th + th{
        width: 30%;
    }
    td + td + td{
       display: flex;
       align-items: center; 
    }
}